nav{
    position: fixed;
    z-index:3;
    width: 100%;
    background-color: #000 url(../../assets/stars.png) repeat top center;
}
.navbar-brand{
    padding-left: 2vw;
}

.custom-navbar-bg {
    background-color: #000 !important;
    background-image: url(../../assets/stars.png);
    background-repeat: repeat;
    background-position: top center;
    /* Add any other styles you want for your navbar */
}
.nav-link{
    // color: white !important;
}
