<app-header></app-header>
<div class="stars"></div>
<div class="twinkling"></div>

<div class="containerp">


    <!-- <div class="sidebar">
        <nav>
            <ul>
                <li>Home</li>
                <li>My Intro</li>
                <li>About Us</li>
                <li>Contact us</li>
            </ul>
        </nav>
    </div> -->
    <div class="content">

        <div class="infoContainer">
            <div class="info">

                <div class="hello">Hello I'm</div>
                <div class="name">Sushant Mhashakhetri</div>
                <div class="about">A Full Stack Web Developer</div>
                <div class="buttons">
                    <button class="mr-4">Contact Me</button>
                    <button>See My Profile</button>
                </div>
               
            </div>
            <div class="infoPic">
                <img src="../assets/manOnTable.svg" alt="">
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a href="#" target="_blank">
              <i class="fab fa-facebook-f"></i> Facebook
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" target="_blank">
              <i class="fab fa-twitter"></i> Twitter
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" target="_blank">
              <i class="fab fa-instagram"></i> Instagram
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" target="_blank">
              <i class="fab fa-linkedin-in"></i> LinkedIn
            </a>
          </div>
        </div>
      </div> -->
      
</div>